.App {
  text-align: center;
}

.header{
  display: flex;
  height: 270px;
  background-color: #282c34;
  border-bottom-style: inset;
  border-bottom-color: rgb(182, 12, 12);
 
}
.sort{
  float: center;
}
.head{
  color: lightgrey;
  font-display: center;
  margin-top:100px
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.input{
  margin-top:10px
}